h1 {
  font-size: 3em;
  letter-spacing: 3px;
}

h2 {
  font-size: 2em;
  letter-spacing: 3px;
}

#addtext {
  margin: 20px;
}

#addbtn {
  margin: 0;
}

.material-icons.add {
  margin-right: 15px;
}

.main {
  width: 80%;
}

#tasklist li {
  width: 80%;
  font-size: .8em;
}

#addbtn:hover {
  background: #fff;
  color: #555;
  border: none;
}

#clearbtn:hover {
  background: #fff;
  color: #555;
  border: none;
}

.material-icons.del:hover {
  color: gray;
}
