* {
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  background: linear-gradient(-135deg, #ED4264, #FFEDBC);
  background-attachment: fixed;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  animation-name: fadeIn;
  animation-duration: 2s;
  animation-timing-function: ease;
}

html {
  height: 100%;
}

#tasklist {
  list-style: none;
}

h1 {
  font-family: 'Caveat', sans-serif;
  color: #fff;
  font-size: 5em;
  text-align: center;
  padding: 30px 0;
  letter-spacing: 10px;
}

h2 {
  font-family: 'Caveat', sans-serif;
  color: #fff;
  font-size: 3em;
  padding-top: 30px;
  border-bottom: 3px dotted #fff;
  margin: 30px 0;
  letter-spacing: 10px;
}

.main {
  width: 60%;
  margin: auto;
}

.textin-area {
  text-align: center;
}

#addtext {
  width: 250px;
  height: 30px;
  border-radius: 15px;
  border: none;
  padding: 4px;
  padding-left: 10px;
  outline: none;
}

#addtext::placeholder {
  color: #bbb;
}

#addbtn {
  margin-left: 10px;
  background: #fff;
  border-radius: 10px;
  border: none;
  height: 30px;
  width: 70px;
  color: #555;
  font-family: 'Ruda', sans-serif;
  transition: .3s;
  cursor: pointer;
  outline: none;
}

#addbtn:hover {
  background: none;
  color: #fff;
  border: solid 1px #fff;
}

#task {
  border-radius: 10px;
  font-size: 1.1em;
  background: #fff;
}

#tasklist li {
  background: #fff;
  margin: auto;
  padding: 10px;
  width: 80%;
  border-bottom: dotted #ccc 1px;
  display: flex;
  align-items: center;
  animation-name: slideIn;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}

#tasklist li:last-child {
  border-bottom: none;
}

.btn-area {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

#clearbtn {
  width: 170px;
  height: 50px;
  background: #fff;
  border: none;
  border-radius: 10px;
  margin: 10px;
  color: #333;
  cursor: pointer;
  transition: .3s;
  font-family: 'Ruda', sans-serif;
  font-size: 1.2em;
  outline: none;
}

#clearbtn:hover {
  background: none;
  color: #fff;
  border: solid 1px #fff;
}

.material-icons.add {
  color: pink;
  font-size: 2em;
  margin-right: 30px;
  transition: .5s;
  cursor: pointer;
  outline: none;
}

.material-icons.add.end {
  color: skyblue;
}

.material-icons.del {
  color: gray;
  margin-left: auto;
  cursor: pointer;
  transition: .2s;
  outline: none;
}

.material-icons.del:hover {
  color: #ddd;
}

/*アニメーション*/
@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(70px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.slideout {
  animation-name: slideOut;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}

@keyframes slideOut {
  from {
    opacity: 1;
    transform: translateX(0px);
  }

  to {
    opacity: 0;
    transform: translateX(150px);
  }
}

.allout {
  animation-name: allOut;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}

@keyframes allOut {
  from {
    opacity: 1;
    transform: translateY(0px);
  }

  to {
    opacity: 0;
    transform: translateY(150px);
  }
}
