* {
  margin: 0;
  padding: 0;
}

body {
  margin: 30px;
}

#tasklist {
  list-style: none;
}

.material-icons.add {
  color: pink;
  margin-right: 20px;
  font-size: 3em;
}

.material-icons.add.end {
  color: skyblue;
}

.material-icons.del {
  color: gray;
}
