* {
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  background: linear-gradient(-135deg, #ED4264, #FFEDBC);
  background-attachment: fixed;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

html {
  height: 100%;
}

#tasklist {
  list-style: none;
}

h1 {
  color: #fff;
  font-size: 3em;
  text-align: center;
  padding: 30px 0;
}

h2 {
  color: #fff;
  font-size: 2.4em;
  padding-top: 30px;
  border-bottom: 3px dotted #fff;
  margin: 30px 0;
}

.main {
  width: 60%;
  margin: auto;
}

.textin-area {
  text-align: center;
}

#addtext {
  width: 250px;
  height: 30px;
  border-radius: 15px;
  border: none;
  padding: 3px;
}

#addbtn {
  margin-left: 10px;
  background: #fff;
  border-radius: 10px;
  border: none;
  height: 30px;
  width: 70px;
  color: #333;
}

#task {
  border-radius: 10px;
  font-size: 1.2em;
  background: #fff;
}

#tasklist li {
  background: #fff;
  margin: auto;
  padding: 10px;
  width: 80%;
  border-bottom: dotted #333 1px;
  display: flex;
  align-items: center;
}

#tasklist li:last-child {
  border-bottom: none;
}

.btn-area {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

#savebtn {
  width: 70px;
  height: 70px;
  background: #fff;
  border: none;
  border-radius: 50%;
  margin: 10px;
  color: #333;
}

#clearbtn {
  width: 70px;
  height: 70px;
  background: #fff;
  border: none;
  border-radius: 50%;
  margin: 10px;
  color: #333;
}

.material-icons.add {
  color: pink;
  font-size: 2em;
  margin-right: 30px;
}

.material-icons.add.end {
  color: skyblue;
}

.material-icons.del {
  color: gray;
  margin-left: auto;
}
